<h1>Sessions#new</h1>
<form action='<%= session_url %>' method='post'>
  <label for='email'>email</label>
  <input type='text' id='email' name='email' autofocus>
  <br>
  <label for='password'>password</label>
  <input type='password' id='password' name='password'>
  <br>
  <input type='submit'>
</form>